body, html {
    height: 60%;
    margin:0mm;
    
}
h1 {
    font-family:  Helvetica, Arial, Oswald, sans-serif;
    
}
h2{
    color:rgb(255, 255, 255)
    font-family: Helvetica, Arial, Oswald, sans-serif;
}
p {
    font-family: Helvetica, Arial, Oswald, sans-serif;
    position: absolute;
    left:30%;
    transform: translate(-50%, -50%);
    
  }
.hero-image{
    align-items: center;
    background-image: url('watermelon_4x.png');
    height: 80vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text{
    font-family: Helvetica, Arial, Oswald, sans-serif;
    text-align: left;
    position: absolute;
    top: 50%;
    left:35%;
    transform: translate(-50%, -50%);
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }
